<!-- HEADER SECTION -->
<header class="header bg-light">
  <nav>
    <a href="/"><img class="logo" src="/assets/images/logo.png" alt="TuchmanLaw"></a>
    <div class="hamburger" onclick="hamburgerMenuClicked()"><i class="hamburger fa fa-bars" ></i></div>
    <div id="main-nav" class="main-nav">
      <div class="contact-bar">  
        <ul>
          <li><a href="tel:760-916-1994" target="_self"><i class="fa fa-phone"></i>760-916-1994</a></li>
          <li><a href="mailto: info@tuchmanlaw.com"><i class="fa fa-envelope"></i>info@tuchmanlaw.com</a></li>
        </ul>
      </div>
      <ul class="main-menu">
        <li><a href="/#home">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#practice">Practice Areas</a></li>
        <li><a href="/#connect">Contact</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
      </ul>
    </div>
  </nav>    
</header>