<!-- seo begin -->
<title>TuchmanLaw | Law Office of Ido Tuchman</title>
<meta name="description" content="An intellectual property law office in southern California. Ido Tuchman is a patent attorney admitted to practice in California, New York, and Colorado, and before the U.S. Patent and Trademark Office. Practice areas include patents, trademarks, copyrights, and licensing." />
<meta name="keywords" content="patents, trademarks, copyrights, intellectual property, attorney, lawyer, law firm, san diego, california" />
<meta name="author" content="Law Office of Ido Tuchman" />
<link rel="canonical" href="http://tuchmanlaw.com/" />
<meta property="og:title" content="Law Office of Ido Tuchman" />
<meta property="og:locale" content="en_US" />
<meta property="og:description" content="An intellectual property law office in southern California. Ido Tuchman is a patent attorney admitted to practice in California, New York, and Colorado, and before the U.S. Patent and Trademark Office. Practice areas include patents, trademarks, copyrights, and licensing." />
<meta property="og:image" content="https://tuchmanlaw.com/assets/images/bicycle.png" />
<meta property="og:url" content="http://tuchmanlaw.com/" />
<meta property="og:site_name" content="Law Office of Ido Tuchman" />
<meta name="twitter:description" content="Ido Tuchman is an attorney admitted to practice in California, New York, Colorado, and the U.S. Patent and Trademark Office. Practice areas include patents, trademarks, copyrights, and licensing." />
<meta name="twitter:card" content="summary_large_image">
<script type="application/ld+json">
{"@type":"WebSite","headline":"TuchmanLaw","url":"http://tuchmanlaw.com/","description":"An intellectual property law office in southern California. Ido Tuchman is a patent attorney admitted to practice in California, New York, and Colorado, and before the U.S. Patent and Trademark Office. Practice areas include patents, trademarks, copyrights, and licensing.","name":"Law Office of Ido Tuchman","@context":"https://schema.org"}</script>
<!-- seo end -->