.home {
  height: 100vh;
  min-height: 500px;
}

.slogan {
  font-size: 3.3rem;
  margin-bottom: 30px;
}

.cta-btn {
  font-size: 1.5rem;
}

.home-img {
  display: flex;
  align-items: center;
  // background: url("/images/bi-bg.png") no-repeat center center/cover;
  // background-size: contain;
  height: 100%;
  position: relative;
}

#patent-bg {
  position: absolute;
  // right: 0px;
  z-index: 1;
  // top: 0px;
}

#patent {
  position: absolute;
  /* left: 0px; */
  z-index: 2;
  /* top: 0px; */
}