.message {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 500px;
  flex-wrap: nowrap;
}

.message-large {
  font-size: 6rem;
}

.message-reg {
  font-size: 2.5rem;
}

.message-image {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  height: 100%;
  width: 50%;
}

@media (max-width: $bp-medium) {
  .message-large {
    font-size: 4rem;
  }
  .message-reg {
    font-size: 2.5rem;
  }
}

@media (max-width: $bp-small) {
  message-large {
  font-size: 4rem;
  }

  .message-reg {
    font-size: 1.5rem;
  }

}