// colors
$clr-text-dark: #444;
$clr-text-light: #fff;
$clr-primary: #6b7a8f;
$clr-secondary: #dcc7aa;
$clr-accent: #f7882f;
$clr-alert: #f7c331;
$clr-bg-light: #fff;
$clr-bg-dark: #6b7a8f;

// fonts
$ff-serif: "Roboto Slab", serif;
$ff-sans: "Roboto", sans-serif;

// breakpoints
$bp-medium: 900px;
$bp-small: 600px;