div.specialty {
	height: 200px;
}

.right-justified {
  text-align: right;
}

ul.slideshow {
	list-style:none;
	width:950px;
	height:239px;
	overflow:hidden;
	position:relative;
	margin:0;
	padding:0;
}	

ul.slideshow li {
	position:absolute;
	left:0;
	right:0;
	height: 239px;
}

ul.slideshow li.show {
	z-index:500;	
}

ul img {
	border:none;	
}

#gallery {
  height: 239px;
} 

#gallery a {
  float:left;
  position:absolute;
}
	
#gallery a img {
  border:none;
}
	
#gallery a.show {
  z-index:500
}