---
layout: default
---
{% include navigation.html %}
<div class="full-width bg-light">
  <div class="container">
    <section>
      <div class="blog-main">
        {% if page.image %}
          <img src="{{ page.image }}" alt="Blog Image" class="blog-img">
        {% else %}
          <img src="/assets/typewriter.png" alt="Post Image" class="blog-img">
        {% endif %}
        <div class="blog-content">
          <h1 class="title">{{ page.title }}</h1>
          <p class="author">{{ page.date | date_to_string }} by {{ page.author }}</p>
          {{ content }}
        </div>
        <div class="blog-sidebar">
          <div class="side-section">
            <p class="side-heading">Tags</p>
            {% for tag in page.tags %}
              <a href="/blog/tags/{{ tag }}/" class="tag">{{ tag | capitalize }}</a>
            {% endfor %}
          </div>
          <div class="side-section">
            {% include blog-subscribe.html %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% include footer.html %}